body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #003366 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo-text{
	font-family: 'Wallpoet', cursive !important;
	color: #6E4C1Eff !important;
	font-size: 30px !important;
}

.navbar-color {
	background-color: #EEB238FF !important;
}

.navbar-text {
	color: #6E4C1Eff !important;
	font-weight: bold !important;
}

.navbar-text: hover{
	color: #DDB65DFF !important;
}

.navbar-color > button{
	background-color: #FFD653FF !important;
}

.footer-color {
	background-color: #EEB238FF !important
}

.footer-text {
	color: #6E4C1Eff !important;
	font-weight: bold !important;
}

.header-text {
	font-family: 'Wallpoet', cursive !important;
	color: #EEB238FF !important;
	font-size: 50px;
}

.form-label-color {
	color: #EEB238FF !important;
	font-weight: bold;
}

.btnsuccess {
	background-color: #5AAB61 !important;
	border-color: #5AAB61 !important;
	font-weight: bold !important;
}

.btndanger {
	background-color: #BB0000 !important;
	border-color: #BB0000 !important;
	font-weight: bold !important;
}

.btninfo {
	background-color: #1E90FF !important;
	border-color: #1E90FF  !important;
	font-weight: bold !important;
}

.modal-header {
	color: #6E4C1Eff !important;
	background-color: #EEB238FF !important;
	font-family: 'Wallpoet', cursive !important;
}

.table-header {
	color: #6E4C1Eff !important;
	font-weight: bold;
	background-color: #EEB238FF !important;
}

.table-body {
	color: black !important;
	background-color: #f5f5f5 !important;
}

.dropdown-text {
	font-weight:bold !important;
}